/*start slide*/
.slideHome {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover;
  background-image: url("../img/1.jpg");
}
.slideHome .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000 12;
  z-index: 2;
}
.ov {
  position: absolute;
  z-index: 3;
  line-height: 1.6;
  padding-top: 200px;
  right: 11%;
  text-transform: capitalize;
  bottom: 40%;
}
.ov p {
  font-family: "Poppins", sans-serif;
  color: #303030;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}
.ov h3 {
  color: #474747;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: left;
}
.ov a {
  color: #000;
  font-family: Dosis;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
/*end slide*/
/*start new*/
.new {
  padding-top: 40px;
  padding-bottom: 40px;
}
.new .bg {
  margin-bottom: 20px;
  height: 300px;
  overflow: hidden;
}
.new .bg1 {
  background: rgba(0, 0, 0, 0) url("../img/2.jpg") no-repeat scroll center center / cover;
}
.new .bg2 {
  background: rgba(0, 0, 0, 0) url("../img/3.jpg") no-repeat scroll center center / cover;
}
.new .bg > div {
  padding: 20px;
  padding-top: 100px;
}
.new div h3 {
  color: #474747;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: left;
}
.new div a {
  color: #000;
  font-family: Dosis;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
/*end new*/
